<% @elements.each do |element| %>
  <h1><%= element.name %></h1>

  <% element.ropes.each do |rope| %>
    <p>
      <h3><%= rope.primary_color.capitalize %> w/ <%= rope.pcord_color %></h3>
      Total climbs = <%= rope.total_climbs %>
      <!-- TODO link to retire rope -->
    </p>
  <% end %>
<% end %>

<!-- TODO need a way to escape -->
