html {
  height: 100%;
  background: url("/images/background.jpg") darkgreen no-repeat center center fixed;
  background-size: cover;
}

body {
  font-size: 50px;
}

#wrapper {
  margin: 5vh auto;
  width: 80%;
  background-color: beige;
  border:15px solid #280F02;
  padding: 5%;
}


/*
 * table formatting
 */
.table-overflow {
  overflow-y:auto;
}

table {
  border-collapse: collapse;
  border: 1px solid #2F1302;
  margin-bottom: 20px;
  width:100%;
  font-size: 70%;
}

th {
  background-color: rgb(47,19,2,.4);
}

th {
  padding: 3px;
  border: 1px solid #2F1302;
}

td {
  padding: 20px 10px;
  border: 1px solid #2F1302;
}

tr:nth-child(even) {
  background-color: rgb(47,19,2,.2);
}

/*
 * form settings
 */

form {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content;
  margin-bottom: 20px;
}

label {
  height: 60px;
  margin: 10px 0px;
  font-size: 90%;
}

input {
  height: 60px;
  margin: 10px 0px 0px 10px;
  font-size: .85em;
  width: 100%;
}

textarea {
  margin: 10px 0px 0px 10px;
  font-size: .85em;
  width: 100%;
}

input[type="submit"] {
  margin: 20px auto 0px auto;
  height:auto;
  width: 40%;
  padding: 15px;
}

/*
 * misc
*/

h1 {
  margin: auto auto 40px auto;
}

.two-columns {
  grid-column-end:span 2;
}

.error {
  /*color is firebrick,
  using rgb for consistency with the background color*/
  background-color: rgb(178, 34, 34, .1);
  border: 2px solid rgb(178,34,34);
  color: rgb(178,34,34);
  font-size: 75%;
}

/*
 * media queries for larger screens
*/

@media only screen and
    (min-device-width : 500px) {
  label {
    height: auto;
    margin: 10px 0px;
    font-size: 100%;
  }

  input {
    height: auto;
    margin: 10px 0px 0px 10px;
    font-size: .85em;
    width: 100%;
  }

  input[type="submit"] {
    height: auto;
    width: auto;
    padding: auto 10px;
  }

  body {
    font-size: 23px;
  }

  table {
    font-size: 85%;
  }
}

@media only screen and
    (min-width: 775px) and
    (min-device-width : 500px) {

  #wrapper {
    margin: 70px auto;
    width: 600px;
    padding: 3%;
  }

  body {
    font-size: 20px;
  }

  .error {
    font-size: 80%;
  }
}
