html {
  height: 100%;
  background: url("/images/background.jpg") darkgreen no-repeat center center fixed;
  background-size: cover;
}

body {
  font-size: 50px;
}

#wrapper {
  margin: 5vh auto;
  width: 80%;
  background-color: beige;
  border:15px solid #280F02;
  padding: 5%;
}


/*
 * form settings
 */

form {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content;
  margin-bottom: 20px;
}

label {
  height: 60px;
  margin: 10px 0px;
  font-size: 90%;
}

input {
  height: 60px;
  margin: 10px 0px 0px 10px;
  font-size: .85em;
  width: 100%;
}

input[type="submit"] {
  margin: 20px auto 0px auto;
  height:auto;
  width: 40%;
  grid-column-end:span 2;
  padding: 15px;
}

.two-columns {
  grid-column-end:span 2;
}
/*
 * headings
*/

h1 {
  margin: auto auto 40px auto;
}


/*
 * media queries for larger screens
*/
@media only screen and (min-width: 600px) {
  label {
    height: auto;
    margin: 10px 0px;
    font-size: 100%;
  }

  input {
    height: auto;
    margin: 10px 0px 0px 10px;
    font-size: .85em;
    width: 100%;
  }

  input[type="submit"] {
    height: auto;
    width: auto;
    grid-column-end:span 2;
    padding: auto 10px;
  }

  body {
    font-size: 25px;
  }
}

@media only screen and (min-width: 750px) {
  #wrapper {
    margin: 70px auto;
    width: 600px;
    padding: 5%;
  }

  body {
    font-size: 20px;
  }
}
