html {
  height: 100%;
  background: url("/images/background.jpg") darkgreen no-repeat center center fixed;
  background-size: cover;
}

body {
  font-size: 50px;
}

#wrapper {
  margin: 5vh auto;
  width: 80%;
  background-color: #EADAC8;
  border:15px solid #2F1302;
  padding: 5%;
}


/*
 * form settings
 */

form {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content;
  margin-bottom: 20px;
}

label {
  height: 60px;
  margin: 10px 0px;
  font-size: 90%;
}

input {
  height: 60px;
  margin: 10px 0px 0px 10px;
  font-size: .85em;
  width: 100%;
}

textarea {
  margin: 10px 0px 0px 10px;
  font-size: .85em;
  width: 100%;
}

input[type="submit"] {
  margin: 20px auto 0px auto;
  height:auto;
  width: 40%;
  padding: 15px;
}

.two-columns {
  grid-column-end:span 2;
}

/*
 * flash messages
*/

.error {
  background-color: rgb(178, 34, 34, .1);
  border: 2px solid rgb(178,34,34);
  color: rgb(178,34,34);
  font-size: 75%;
}

.success {
  background-color: rgb(105, 153, 36, .1);
  border: 2px solid rgb(105, 153, 36);
  color: rgb(105, 153, 36);
  font-size: 75%;
}

/*
 * misc fixes
*/

h1 {
  margin: auto auto 40px auto;
}

.retire-form {
  margin: auto;
  display: block;
}

input[type="submit"].btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: 75%;
    margin: auto;
}

/*
 * media queries for larger screens
*/

@media only screen and
    (min-device-width : 500px) {
  label {
    height: auto;
    font-size: 100%;
    padding-left: 40px;
  }

  input {
    height: auto;
  }

  input[type="submit"] {
    height: auto;
    width: auto;
    padding: auto 10px;
  }

  body {
    font-size: 23px;
  }
}

@media only screen and
    (min-width: 775px) and
    (min-device-width : 500px) {

  #wrapper {
    margin: 70px auto;
    width: 600px;
    padding: 3%;
  }

  body {
    font-size: 20px;
  }

  .error {
    font-size: 80%;
  }
}
