<h1>Welcome to the Ropes Log, <%= current_user.username %></h1>

<a href="/users/<%= current_user.id %>">View your inspections</a>
<a href="/inspections/new">Log an inspection</a>
<a href="/elements">View all elements</a>
<a href="/logout">Logout</a>
