<h1>Welcome to the Ropes Log, <%= current_user.username %></h1>


<a href="/inspections/new">Log an inspection</a><br>
<a href="/users/<%= current_user.id %>">View your inspections</a><br>
<a href="/elements">View all elements</a><br>
<a href="/logout">Logout</a>
