<h1>Log a new inspection</h1>
<h3>Select the element:</h3>
<ul>
  <% @elements.each do |element| %>
    <li><a href="/inspections/new/<%= element.slug %>"><%= element.name %></a></li>
  <% end %>
</ul>
